@use "global";
@use "adaptive";

.header-container{
  padding: 26px 0 120px 0;
  background-color: global.$antique_white_color;
  background: url("../images/main.png") center bottom / cover no-repeat;
  position: relative;

  @include adaptive.medium{
    background: url("../images/main-1024.png") center bottom / cover no-repeat;
  }

  @include adaptive.small{
    background: url("../images/main-mobile.png") center bottom / cover no-repeat;
    padding: 22px 0 380px 0;
  }

  @include adaptive.x-small{
    padding: 18px 0 320px 0;
  }
}

.header{

  &__logo{
    width: 245px;
    margin: 0 0 62px 0;

    @include adaptive.small{
      margin: 0 0 48px 0;
      max-width: 230px;
      width: 100%;
    }

    @include adaptive.x-small{
      margin: 0 0 40px 0;
      max-width: 213px;
      width: 100%;
    }

    img{
      display: block;
      width: 100%;
      height: auto;
      transition: 0.2s;
    }

    &:hover img{
      opacity: 0.7;
      transition: 0.2s;
    }
  }

  &__text{
    max-width: 542px;
    width: 100%;

    @include adaptive.small{
      max-width: none;
    }

    .text-main{
      margin: 24px 0;

      @include adaptive.small{
        display: flex;
        justify-content: center;
      }

      h1{
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        @include adaptive.small{

        }
      }

      span{
        display: block;
      }
    }

    .text-additional{
      margin: 24px 0 40px 0;

      @include adaptive.small{
        margin: 24px 0 36px 0;
      }

      @include adaptive.x-small{
        margin: 24px 0 32px 0;
      }

      span{
        display: inline-block;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: global.$light_black_color;

        @include adaptive.x-small{
          text-align: left;
        }
      }
    }
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    @include adaptive.small{
      flex-direction: column;
      align-items: center;
    }
  }
}

.button{
 &__wrap{
   max-width: 263px;
   min-width: 200px;
   width: 100%;

   &:first-child{
     margin: 0 16px 0 0;
   }

   @include adaptive.small{
     max-width: 335px;
     width: 100%;
   }
 }

 &__link{
   display: inline-block;
   box-sizing: border-box;
   text-decoration: none;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   border-radius: 66px;
   text-align: center;
   width: 100%;
 }

  &__link_black{
    color: global.$white_color;
    background: global.$dark_gray_color;
    padding: 16px 49px;
    transition: 0.2s;

    @include adaptive.small{
      padding: 16px;
      margin: 0 0 20px 0;
    }

    @include adaptive.x-small{
      margin: 0 0 14px 0;
    }

    @media screen and (min-width: 769px){
      &:hover{
        color: global.$dark_gray_color;
        background: global.$yellow_orange_color;
        transition: 0.3s;
      }
    }
  }

  &__link_transparent{
    color: global.$dark_gray_color;
    background: transparent;
    border: 2px solid global.$dark_gray_color;
    padding: 14px 49px;
    transition: 0.2s;

    @media screen and (min-width: 769px){
      &:hover{
        transition: 0.3s;
        color: global.$white_color;
        background: global.$dark_gray_color;
      }
    }

    @include adaptive.small{
      background: global.$white_color;
      opacity: 0.9;
      padding: 16px;
      border: transparent;
    }
  }
}

